imagingXperts eDocCloud UpDown/Web References/oCompanies/api.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:company" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:company" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:company">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="CompanyType">
        <xsd:all>
          <xsd:element name="row_id" type="xsd:integer" />
          <xsd:element name="company_name" type="xsd:string" />
          <xsd:element name="company_address1" type="xsd:string" />
          <xsd:element name="company_address2" type="xsd:string" />
          <xsd:element name="company_zip" type="xsd:string" />
          <xsd:element name="fk_admin" type="xsd:string" />
          <xsd:element name="company_phone" type="xsd:string" />
          <xsd:element name="company_fax" type="xsd:string" />
          <xsd:element name="company_email" type="xsd:string" />
          <xsd:element name="fk_terms" type="xsd:string" />
          <xsd:element name="creditlimit" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CompanyTable">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:CompanyType[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetCompaniesRequest">
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetCompaniesResponse">
    <wsdl:part name="return" type="tns:CompanyTable" />
  </wsdl:message>
  <wsdl:portType name="CompanyPortType">
    <wsdl:operation name="GetCompanies">
      <documentation>Get all boxes on status.</documentation>
      <wsdl:input message="tns:GetCompaniesRequest" />
      <wsdl:output message="tns:GetCompaniesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CompanyBinding" type="tns:CompanyPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GetCompanies">
      <soap:operation soapAction="urn:pickupwsdl#GetBoxbyStatus" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:pickupwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:pickupwsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Company">
    <wsdl:port name="CompanyPort" binding="tns:CompanyBinding">
      <soap:address location="http://www.edoccloud.com/api/api.companies.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>